
body {
    font-family: Arial, sans-serif;
    background-color: #F4F1DE;
    color: #333;
    line-height: 1;
}
h1{
    color: #3D405B;
    font-weight: bold;
    letter-spacing: -2px;
    font-family: JetBrains Mono;
    padding-bottom: 40px;
}

h2, h3, h4, h5, h6 {
    color: #3D405B;
    font-weight: bold;
    letter-spacing: -2px;
    font-family: JetBrains Mono;
}

p {
    margin-bottom: 20px;

}

/* Hide underlines for buttons and stuff */
a {
    text-decoration: none;
}

button{
    display: block;
    position: relative;
    border-radius: 2px;
    left: 210px;
    margin-top: 10px;

    width: 100px;
    height: 40px;
}

.landing-container {
    position: absolute;
    left: 50%;
    top: 42%;

    transform: translate(-50%, -50%);
    text-align: center;
}
